header {
  background-color: aquamarine;
  display: flex;
  justify-content: space-evenly;
}
a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 30px;
}
div.choose {
  width: 40%;
  background-color: yellow;
  font-size: large;
}
nav {
  display: inline-block;
  width: 80%;
}

section.main img {
  margin: 10px 0px;
  width: 40%;
}
section.main h1 {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section.main {
  background-color: gray;
  display: grid;
}

section.footer {
  background-color: antiquewhite;
}
section.footer img {
  width: 60%;
  border-radius: 10px;
}

table.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cột, chia đều */
  gap: 10px;
}
